/* Animació fade-in */
body {
    opacity: 0;
    transition: opacity 2s ease;
    font-family: 'Lori Medium';
    background-color: #ffffff;
  }
  
  body.fade-in {
    opacity: 1;
  }

  /* Linterna */
  body.linterna::before {
    content: "";
    position: fixed;
    top: var(--y, 100%);
    left: var(--x, 100%);
    width: 35px;
    height: 35px;
    border-radius: 40%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, transparent 80%);
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: top 0.05s, left 0.05s;
  }

  /* Fonts personalitzades */
@font-face {
    font-family: 'Lori Bold';
    src: url('../fonts/LoriBold.woff2') format('woff2'),
         url('../fonts/LoriBold.woff') format('woff'),
         url('../fonts/LoriBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Lori Medium';
    src: url('../fonts/LoriMedium.woff2') format('woff2'),
         url('../fonts/LoriMedium.woff') format('woff'),
         url('../fonts/LoriMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Lori Medium';
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    background-color: #542361;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    letter-spacing: 1px;
}

button:hover{
    letter-spacing: 3px;
    background-color: transparent;
    border: 2px solid #542361;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color: #542361; }

header{
    background-color: #542361;
    
}

header .logo{
    margin: 0;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 1.6em
}

header .logo img {
    width: 60px;
}

header .logo img:hover {
    
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover{
    color: #5BC0BE;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/foto1so.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#hero button {
    font-size: 1.75em;
}

#hero button:hover {
    letter-spacing: 3px;
    background-color: transparent;
    border: 2px solid #542361;
}

#so .container{
    text-align: center;
    padding: 200px 12px;
}

#co{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#co .container{
    padding: 150px 12px;
}

#co h2{
    margin-top: 0;
    font-size: 3.2em;
}

#co p{
    display: none;
}

#co .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/foto\ video.png");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/foto\ app.png");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("../img/foto\ doc.png");

}

#cub .container{
    text-align: center;
    padding: 250px 12px;
}

#cub li{
    margin: 16px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #542361;
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
        font-family: 'Lori Bold';
    }

    #so .container{
        display: flex;
        justify-content: space-evenly;
    }

    #so .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Lori Medium';
    }

    #so h2{
        margin-top: 0px;
    }

    #so .img-container{
        background-image: url("../img/web\ ogo\ foto1.png");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #co .programas{
        display: flex;
        justify-content: center;
    }

    #co p{
        display: block;
        margin-bottom: 30px;
    }

    #co h2{
        font-size: 4em;
    }

    #co h3{
        margin-top: 0;
    }

    #co .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../img/foto\ video.png");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../img/foto\ app.png");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("../img/foto\ doc.png");

    }

    #cub{
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #cub .container{
        text-align: initial;
    }

    #cub ul{
        margin-left: 100px;
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #cub{
        background-position-x: calc(100vw - 800px);
    }
}


/*-------------------------font-family: 'Lori Medium';-------------------------*/

.gallery-container {
    position: relative;
  }
  
  .mySlides {
    display: none;
    max-height: 350px;
  }
  
  .cursor {
    cursor: pointer;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: 17%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev {
    left: 0;
  }
  
  .prev:hover,
  .next:hover {
    background-color: #542361;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .caption-container {
    text-align: center;
    background-color: #52aaa5;
    padding: 2px 16px;
    color: white;
    margin-top: 10px;
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column {
    float: left;
    width: 16.66%;
  }
  
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

  